<div class="hidden-xs">
  <div style="background-color: #FCFCFC">
  <%= render 'shared/navbar' %>
  <div class="container" style= "min-height: calc(100vh - 140px)">
  <div class="box">
    <div class="">
      <div class="row">
        <h1>Vous pourrez venir ?</h1>
        <br>
        On a trop hâte de vous avoir parmi nous le 30 août. <br> D'ici là on a besoin de quelques infos pour organiser ce bel évènement !<br><br>

        <%= simple_form_for [@guest] do |f| %>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :first_name, label: 'Prénom'%>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :last_name, label: 'Nom'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :email, label: 'Email'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :address, label: 'Adresse'%>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :town, label: 'Ville'%>
            </div>
            <div class="col-xs-12 col-sm-3">
              <%= f.input :citycode, label: 'Code Postal'%>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :attending, label: 'Je viens?', collection: ["pas", "oui oui je viens", "je ne sais pas encore"], default: "oui oui je viens"%>
            </div>
            <!-- <div class="col-cs-12 col-sm-6">
              <%#= f.input :attending_comment, label: 'Un +1? des enfants?'%>
            </div> -->
            <div class="col-xs-12">
              <%= f.input :photo, hint: "Photo obligatoire pour l'inscription au mariage" %>
            <%= f.input :photo_cache, as: :hidden %>
            </div>

            <div class="col-xs-12 col-sm-6">
              <%= f.input :food, label: 'Un régime alimentaire à signaler?', collection: ["none", "que du gras", "végératien", "vegan", "gluten free"]%>
            </div>
            <!-- <div class="col-xs-12 col-sm-6">
              <= f.input :civil_wed, label: 'Dispo le jeudi pour le mariage civil ?', collection: ["oui", "non", "je sais pas encore"]%>
            </div> -->
            <div class="col-xs-12 col-sm-6">
              <%= f.input :sunday, label: 'On vous compte le samedi pour les huîtres ?', collection: ["oui", "non", "je ne sais pas encore"]%>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :civil_wed, label: 'Vous passez à l\'apéro du jeudi?', collection: ["oui", "non", "je ne sais pas encore"]%>
            </div>
            <div class="col-xs-12">
              <%= f.button :submit,"Valider", class: "btn-primary", style:"width: 100%"%>
              <br><br>
            </div>
          <% end %>

        </div>
      </div>



    </div>
  </div>

  </div>

</div>

<div class="visible-xs">
  <div style="background-color: #FCFCFC">
  <%= render 'shared/navbar' %>
  <div class="container" style= "min-height: calc(100vh - 140px)">
  <div class="box-mobile">

      <div class="row">
        <h1>Vous pourrez venir ?</h1>
        <br>
        On a trop hâte de vous avoir parmi nous le 30 août. <br> D'ici là on a besoin de quelques infos pour organiser ce bel évènement !<br><br>

        <%= simple_form_for [@guest] do |f| %>
            <div class="col-xs-12">
              <%= f.input :first_name, label: 'Prénom'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :last_name, label: 'Nom'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :email, label: 'Email'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :address, label: 'Adresse'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :town, label: 'Ville'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :citycode, label: 'Code Postal'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :attending_comment, label: 'Un +1? des enfants?'%>
            </div>
            <div class="col-xs-12">
              <%= f.input :photo, hint: "Photo obligatoire pour l'inscription au mariage" %>
            <%= f.input :photo_cache, as: :hidden %>
            </div>

            <div class="col-xs-12 col-sm-6">
              <%= f.input :food, label: 'Un régime alimentaire à signaler?', collection: ["none", "que du gras", "végératien", "vegan", "gluten free"]%>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :civil_wed, label: 'Dispo le jeudi pour le mariage civil ?', collection: ["oui", "non", "je sais pas encore"]%>
              </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :sunday, label: 'On vous compte le samedi pour les huîtres ?', collection: ["oui", "non", "je sais pas encore"]%>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :train_alarm, label: 'On vous prévient quand les billets de train ouvrent ?', collection: ["oui", "non", "je sais pas encore"]%>
            </div>
            <div class="col-xs-12">
              <%= f.button :submit,"Valider", class: "btn-primary", style:"width: 100%"%>
              <br><br>
            </div>
          <% end %>

          </div>
        </div>




    </div>

</div>

</div>
